<h1>
  <%= gravatar_for(@user, 150) %>
  <%= @user.full_name %>
</h1>

<%= form_for @post do |f| %>
  <%= f.text_area :content, placeholder: "What's on your mind?" %>
  <%= f.submit "Post" %>
<% end %>

<h2>Posts</h2>
<% unless @franz_feed.empty? %>
  <% @franz_feed.each do |post| %>
    <p>
      <%= gravatar_for post.user %>
      <%= post.user.full_name %>
    </p>
  	<p><%= post.content %></p>
  	<% unless post.comments.empty? %>
  	  <% post.comments.each do |comment| %>
        <div style="padding-left: 1.8em; border-left: 1px solid">
  	  	  <p>
            <%= gravatar_for comment.user %>
            <%= comment.user.full_name %>
          </p>
  	  	  <p><%= comment.content %></p>
        </div>
  	  <% end %>
  	<% end %>
  	<p>________________________________</p>
  	<%= form_for @comment do |f| %>
  	  <%= f.hidden_field :post_id, :value => post.id %>
  	  <%= f.text_area :content, placeholder: "Make a comment..." %>
  	  <%= f.submit "Post" %>
  	<% end %>
  <% end %>
<% end %>